.calc {
    width: 80%;
    margin: 100px auto;
    text-align: center;
}

.name {
    margin-bottom: 20px;
}

.btn {
    width: 200px;
    height: 50px;
    font-size: 20px;
    background: rgb(236, 120, 24);
    color: #ffff;
    border-radius: 40px;
    box-shadow: 4px 4px 4px rgb(236, 189, 151);
    margin-right: 20px;
    margin-bottom: 15px;
}

.btn:hover {
    background: rgb(211, 107, 22);
    box-shadow: 2px 2px 2px rgb(236, 189, 151);
}

.btn_name {
    width: 300px;
    height: 70px;
    font-size: 24px;
    background: rgb(236, 66, 24);
}

.btn_name:hover {
    background: rgb(172, 49, 18);
}